<br />
<h1>Getting Started</h1>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="col" style="width: 85%; margin: auto">
      <div
        class="col s12 m4"
        style="background-color: #1b2838; border-radius: 5px;"
      >
        <div class="row">
          <div class="col s7 push-s5">
            <span class="flow-text"
              ><h4>
                <a
                  style="color: #c7d5e0; text-decoration: underline"
                  href="https://metamask.io"
                  >Install MetaMask</a
                >
              </h4>
              <p style="font-size: medium">
                "Available as a browser extension and as a mobile app, MetaMask
                equips you with a key vault, secure login, token wallet, and
                token exchange—everything you need to manage your digital
                assets." - <a href="https://metamask.io">MetaMask.io</a>
              </p>
            </span>
          </div>
          <div class="col s5 pull-s7">
            <span class="flow-text"
              ><img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fnogo10.gitbooks.io%2Fether-camp-live-studio-primer%2Fcontent%2Fmetamask.png&f=1&nofb=1"
                style="max-height: 350px; width: 350px; margin-left: -100px"
            /></span>
          </div>
        </div>
      </div>
    <br>
      <div class="col s12 m4" style="background-color: #c7d5e0; color:#171a21; border-radius: 5px; padding: 3em;">
        <div class="icon-block">
          <h5>Why MetaMask?</h5>
          <p>
            We use MetaMask to ensure a consistent and accessible experience for
            all users. This allows our users as small of a barrier to entry as
            possible. If you prefer to hold your assets in a different wallet
            then consider using MetaMask as an intermediary wallet.
          </p>
        </div>
      </div>
    <br>
    <br>
    <div class="col s12 m4" style="background-color: #1b2838; color:#c7d5e0; border-radius: 5px; padding: 3em;">
        <div class="icon-block">
          <h4>Start Crowdfunding!</h4>
          <p>
            Now that you have a MetaMask account, you're ready to use the Crypto Crowdfund! Either create your own fundraiser, or browse other people's fundraisers below! 
          </p>
          <div class="row">
          <div class="col s6 center">
                <a href="/create" class="btn-large waves-effect" style="background-color: #66c0f4; border-radius:5px;">Create Fundraiser</a>
          </div>
          <div class="col s6 center">
                <a href="/listings?popular" class="btn-large waves-effect" style="background-color: #66c0f4; border-radius:5px; font-size:small">Browse Fundraisers</a>
          </div>
        </div>
        </div>
      </div>
      <br>
      <br>
          
      <br>
    </div>
  </div>
</div>
