
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br><br>
      <img style="display: block; margin-left: auto; margin-right: auto; width: 20%" class="row center" src="http://d33wubrfki0l68.cloudfront.net/18cde2f547f56bb9609823892395f971e02896be/c6c7d/assets/img/ethereum-logo-wireframe.8c2f2894.png"></img>
      <h1 class="header center">Crypto Crowdfund</h1>
      <div class="row center">
        <h5 class="header col s12 light">A Decentralized Fundraising Platform.</h5>
      </div>
      <br>
      <br>
      <div class="row center">
        <a href="/getting-started" id="download-button" class="btn-large waves-effect waves-light" style="border-radius: 5px; background-color: #66c0f4">Get Started</a>
      </div>
      <br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i style="color: #66c0f4; font-size: 5rem;" class="material-icons">vpn_lock</i></h2>
            <h5 class="center">International & Secure</h5>
            <p class="light">Crypto Crowdfund uses the Ethereum Blockchain to ensure all fundraising is transparent and secure. Anyone can purchase Ether using their native currency and start using Crypto Crowdfund today!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i style="color: #66c0f4; font-size: 5rem;" class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">
              Crypto Crowdfund is dedicated to providing a global fundraising platform; that's why 100% of the proceeds go towards the fundraiser you're supporting.  
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i style="color: #66c0f4; font-size: 5rem;" class="material-icons">devices</i></h2>
            <h5 class="center">Multi-platform</h5>

            <p class="light">Crypto Crowdfund uses MetaMask to enable seamless integration on both desktop and mobile. To learn more about MetaMask click <a href="http://metamask.io/">here.</a></p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
